header {
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  background-color: var(--gray-800);

  .headerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.5rem;
      font-weight: var(--is-700);

      &__link {
        color: var(--white-100);
        text-decoration: none;
      }
    }

    &__pages {
      &__text {
        &__button {
          background-color: transparent;
          color: var(--white-100);
          outline: none;
          border: none;
          margin: 0 0.5rem;
          transition: 0.2s;

          &:hover {
            color: var(--green-400);
          }

          &:disabled {
            color: var(--green-400);
          }
        }
      }
    }

    &__buttonsContainer {
      width: 12.5rem;
      display: flex;
      gap: 0.5rem;
    }

    &__logout {
      display: flex;
      gap: 0.5rem;
    }
  }
}
